body {
  padding: 0px;
  margin: 0px;
  background-color: whitesmoke;
}
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ########################################################################################################## */
/* ############################################  Login Page Css  ############################################  */
/* ########################################################################################################## */

.head {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  border-bottom: 5px solid purple;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  img {
    width: 100px;
  }
  h1 {
    text-align: center;
    padding: 5px 0;
    background: linear-gradient(to right, red, blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.login {
  display: flex;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  .svg {
    width: 46%;
  }
  .login_form {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      text-align: center;
      background: linear-gradient(to right, red, blue);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
    #invalid {
      color: red;
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      input,
      select {
        border: none;
        border-bottom: 1px solid lightgrey;
        box-shadow: 0px 5px 7px -2px lightgrey;
        padding: 10px 5px;
        border-radius: 0 0 5px 5px;
        outline: none;
        margin-bottom: 10px;
      }
      i {
        cursor: pointer;
        margin-bottom: 15px;
        width: 17px;
      }
      button {
        padding: 8px 5px;
        border: 1px solid purple;
        border-radius: 5px;
        background-color: #fff;
        font-size: 16px;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          background-color: #302ea3;
          color: white;
          border: 1px solid #302ea3;
        }
      }
    }
    p {
      a {
        text-decoration: none;
        border-bottom: 1px solid blue;
        padding-bottom: 3px;
      }
    }
  }
}

/* ########################################################################################################## */
/* ############################################  Registration Page Css  ############################################  */
/* ########################################################################################################## */

.login {
  .login_form {
    form {
      .reg_inpt {
        display: flex;
        justify-content: space-between;
        label {
          color: black;
          font-weight: 500;
        }
        input {
          width: 95%;
        }
        .inpLabel {
          display: flex;
          flex-direction: column;
          width: 50%;
        }
      }
      select {
        border-radius: 5px;
      }
      .check {
        color: red;
        font-size: 13px;
        margin: 3px 0px;
        padding-bottom: 10px;
      }
    }
  }
}

/* ########################################################################################################## */
/* ############################################  INdex Page Css  ############################################  */
/* ########################################################################################################## */
.indexh1 {
  text-align: center;
  margin-top: -60px !important;
}
.newsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .perticularNewsBox {
    margin: 15px 0px;
  }
}
.categoryDropdown {
  padding: 8px 0 8px 12px;
  cursor: pointer;
  text-decoration: none !important;
  color: white !important;
  li:hover {
    background: whitesmoke;
  }
  option:hover {
    background: whitesmoke;
  }
}

.card {
  width: 18rem;
  margin-bottom: 20px;
  margin: 20px;
  img {
    height: 220px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.greeting {
  font-size: 25px;
  width: 10%;
  margin-left: auto;
  margin-top: 10px;
  color: white;
  display: flex;
  border-bottom: 5px solid lightblue;
  justify-content: space-evenly;
  margin-right: 10px;
  padding-bottom: 5px;
  border-radius: 0 4px 10px 10px;
  border-right: 4px solid lightblue;
  border-left: 1px solid lightblue;
  i {
    color: lightblue;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

/* ########################################################################################################## */
/* ############################################  Profile Page Css  ############################################  */
/* ########################################################################################################## */

h1 {
  text-align: center;
  margin-top: 25px !important;
  background: linear-gradient(to right, red, blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.mainBtnTrigger {
  display: flex;
  flex-direction: column;
  width: 10%;
  margin-left: auto;
  margin-right: 15px;
  .btnTrigger {
    display: flex;
    justify-content: space-between;
    button {
      width: 45%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
.profile {
  display: flex;
  justify-content: space-evenly;
  margin-top: -100px;
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid lightblue;
    height: 80%;
    margin-top: auto;
    margin-block: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    p {
      padding: 10px 0 25px 0;
      font-size: 25px;
      color: black;
    }
  }
  .profileSvg {
    width: 40%;
  }
}

.resetBody {
  display: flex;
  justify-content: space-evenly;
  input {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 8px;
    outline: none;
  }
}

.updateBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .reg_inpt {
    margin: 5px 0 5px 0;
    input {
      border: 1px solid lightgray;
      border-radius: 8px;
      padding: 8px;
      outline: none;
    }
  }
  .countryMail {
    display: flex;
    justify-content: space-between;
    select {
      border: 1px solid lightgray;
      border-radius: 8px;
      padding: 8px;
      outline: none;
      width: 49.5%;
    }
  }
}
